<h1>Functional programming ++ (Part 2: Theory)</h1>

<h2>Category theory</h2>

<p>A category is a collection with the following components:</p>

<ul>
<li>A collection of objects (e.g. data types)</li>
<li>A collection of morphisms (e.g. functions)</li>
<li>A notion of composition on the morphisms (e.g. <code>compose</code>)</li>
<li>A distinguished morphism called identity (e.g. identity function)</li>
</ul>

<p>Example:
<code>javascript
var g = function(x) {
  return x.length
}
var f = function(x) {
  return x === 4
}
var isFourLetterWord = compose(f, g)
</code></p>

<p><img src="https://drboolean.gitbooks.io/mostly-adequate-guide/content/images/cat_comp1.png" alt="compose" title="" />
<img src="https://drboolean.gitbooks.io/mostly-adequate-guide/content/images/cat_comp2.png" alt="compose2" title="" /></p>

<p>Identity function (<code>id = x =&gt; x</code>) can serve as placeholder for data. It has to satisfy the following requirement for any one-argument function <code>f</code>:
<code>javascript
compose(id, f) == compose(f, id) == f
</code></p>

<p><a href="https://en.wikipedia.org/wiki/Category_theory">Wikipedia</a></p>

<h2>type signatures (Hindley-Milner)</h2>

<ul>
<li>Simple case:
<code>capitalize :: String -&gt; String</code></li>
<li>Multiple arguments reflect currying:
<code>join :: String -&gt; [String] -&gt; String</code></li>
<li>Generic types:
<code>map :: (a -&gt; b) -&gt; [a] -&gt; [b]</code></li>
<li>Constraints:
<code>sort :: Ord a =&gt; [a] -&gt; [a]</code>
<code>assertEqual :: (Eq a, Show a) =&gt; a -&gt; a -&gt; Assertion</code></li>
</ul>

<h2>Some typeclasses</h2>

<p>A typeclass is like an interface. It defines some behavior. If a type is a part of a typeclass it supports (implements) the behavior the typeclass describes.</p>

<h3>Functors</h3>

<p>Analogy: Container, Mappable, Group of data types</p>

<p>Simple: Something we can <code>map</code> over</p>

<p><a href="http://adit.io/posts/2013-04-17-functors,_applicatives,_and_monads_in_pictures.html#functors">In pictures</a></p>

<p><a href="https://github.com/fantasyland/fantasy-land#functor">Specification in fantasy-land</a></p>

<p>Math:</p>

<blockquote>
  <p>Let C and D be categories. A functor F from C to D is a mapping that</p>

<ol>
<li>associates to each object <code>X</code> in C an object <code>F(X)</code> in D,</li>
<li>associates to each morphism <code>f: X -&gt; Y</code> in C a morphism <code>F(f): F(X) -&gt; F(Y)</code> in D such that the following two conditions hold:
<ul>
<li><code>F(id) = id</code> for every object <code>X</code> in C,</li>
<li><code>F(g * f) = F(g) * F(f)</code> for all morphisms <code>f: X -&gt; Y</code> and <code>g: Y -&gt; Z</code> in C.
That is, functors must preserve identity morphisms and composition of morphisms.</li>
</ul></li>
</ol>
</blockquote>

<p>Examples:</p>

<p>Lists are an endofunctor:
  1. <code>map :: [] -&gt; []</code> (associates each list to another list)
  2. Example, list of integers
    * id = n => n; map(id) = id_[] (map with the identity function for integers is equal to the identity function in the category of lists of integers)
    * <code>half: n -&gt; n / 2</code>, <code>add1: n -&gt; n + 1</code>, map(half * add1) = map(half) * map(add1), i.e. "(add one and divide by 2) every entry in [1,2,3]" is equal to "(add one to every entry in [1,2,3]) and then (divide every entry in [1,2,3] by 2)
<code>map :: (n -&gt; n) -&gt; [] -&gt; []</code></p>

<p>Maybe is a functor</p>

<h3>Applicative Functors</h3>

<p>Simple: Functors that can be applied to other functors</p>

<p>Example: Apply a list of functions to a list of values.
<code>javascript
R.ap([R.multiply(2), R.add(3)], [1,2,3]); //=&gt; [2, 4, 6, 4, 5, 6]
</code>
<a href="http://ramdajs.com/docs/#ap">R.ap docs</a></p>

<p><a href="http://adit.io/posts/2013-04-17-functors,_applicatives,_and_monads_in_pictures.html#applicatives">In pictures</a></p>

<p><code>ap</code> is a function that can apply the function contents of one functor to the value contents of another.</p>

<p>Example:
```javascript
// we can't do this because the numbers are bottled up.
add(Container.of(2), Container.of(3));
//NaN</p>

<p>Container.of(add(2)).ap(Container.of(3))
```</p>

<p>Implementation of <code>ap</code>:
<code>javascript
Container.prototype.ap = function(other_container) {
  return other_container.map(this.__value);
}
</code></p>

<p><a href="https://github.com/fantasyland/fantasy-land#applicative">Specification in fantasy-land</a></p>
